body {
    background-color: rgb(255, 255, 255);
    color: blue;
    overflow-y: auto;
    overflow-x: hidden;
    width: 1vw;
}

h1 {
    color: black;
    text-align: center;
    height: min-content;
}

table, th, td {
    border: 1px solid #00000048;
    border-collapse: separate;
    padding: 0.5vw 0.5vw;
    margin-left: 5vw;
    margin-top: 8vw;
    background-color: whitesmoke;
}

table {
    width: 90vw;
    margin-top: 10vw;
}



th {
    background-color: #004a80;
    color: white;
    ;
    padding: 1vw;
}

tr:hover {
    background-color: rgb(255, 255, 255);
}

.caixa {
    text-align: center;
    height: 40vw;
    width: 100vw;
}

nav ul, nav li {
    display: inline;
    padding-left: 1vw;
    list-style-type: none;
    text-align: center;
    padding-right: -15vw;
    margin-right: 3vw;
}

.logo {
    position: fixed;
    left: 4vw;
    width: 8vw;
    height: 6vw;
    margin-bottom: 3vw;
}

.box-cadastro {
    position: relative;
    margin-top: 1vw;
    min-width: 2vw;
    max-width: 10vw;
    margin-left: 85vw;

}

.main_footer_container {
    padding-bottom: 10px;
    margin-top: 19vw;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #f7f7f7;
}

.navbar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 2px;
}



/*
headeer top
*/
.topbar {
    background-color: rgba(0, 74, 128, 1);
    padding: 1.5vw;
}

.topbar .container .row {
    margin: -1vw;
    padding: 0;
}

.topbar .container .row .col-md-12 {
    padding: 0;
}

.topbar p {
    margin: 0;
    display: inline-block;
    font-size: 13px;
    color: #f1f6ff;
}

.topbar p>i {
    margin-right: 5px;
}

.topbar p:last-child {
    text-align: right;
}

header .navbar {
    margin-bottom: 0;
}

.topbar li.topbar {
    display: inline;
    padding-right: 18px;
    line-height: 52px;
    transition: all .3s linear;
}

.topbar li.topbar:hover {
    color: #1bbde8;
}

.topbar ul.info i {
    color: #131313;
    font-style: normal;
    margin-right: 8px;
    display: inline-block;
    position: relative;
    top: 4px;
}

.topbar ul.info li {
    float: right;
    padding-left: 30px;
    color: #ffffff;
    font-size: 13px;
    line-height: 44px;
}

.topbar ul.info i span {
    color: #aaa;
    font-size: 13px;
    font-weight: 400;
    line-height: 50px;
    padding-left: 18px;
}

ul.social-network {
    border: none;
    margin: 0;
    padding: 0;
}

ul.social-network li {
    border: none;
    margin: 0;
}

ul.social-network li i {
    margin: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
    border: 0px solid #000000;
    padding: 3px 0 0;
    width: 32px;
    display: inline-block;
    text-align: center;
    height: 22px;
    vertical-align: baseline;
    color: #000000;
}

ul.social-network {
    list-style: none;
    margin: 5px 0 10px -25px;
    float: right;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    transition: .3s ease-out;
    color: #fff;
}

a {
    color: #000000;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.bg-image-full {
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.bg-dark {
    background-color: #000000 !important;
}

.mx-background-top-linear {
    background: -webkit-linear-gradient(45deg, #004a80 48%, #004a80 48%);
    background: -webkit-linear-gradient(left, rgba(0, 74, 128, 1) 48%, #004a80 48%);
    background: linear-gradient(45deg, rgba(0, 74, 128, 1) 48%, #004a80 48%);
}

.container_mt-0 {
    text-align: center;
}

.dropdown {
    text-align: center;
    margin-top: 10px;
}

.acoes {
    width: 12vw;
}

.modal-content {
    background-color: #8c1f1f;
    margin-top: 2vw;
    padding: 30px;
    border: 50px solid #888;
    width: 80vw;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form-group2 {
    margin-bottom: 20px;
    text-align: center;
}

.btn2 {
    background-color: #004a80;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 0vw;
}

.btn2:hover {
    background-color: #004a80;

}

#departamentoSelect {
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#errorMsg {
    color: red;
    margin-top: 10px;
}

.cs {
    text-align: center;
}

#setorInputb {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#setorInput {
    width: 100%;
    margin-left: 0vw;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.pagination {
    margin: 2vw;
    text-align: center;
    margin-left: 5vw;
    margin-top: 0vw;
}

.pagination a {
    color: #004a80;
    float: left;
    padding: 2px 6px;
    text-decoration: none;
    border-radius: 0px;
    transition: background-color .3s, color .3s;
}

.pagination a.active {
    background-color: #004a80;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.pagination .prev, .pagination .next {
    background-color: #f1f1f1;
    color: #004a80;
}

.pagination .prev:hover, .pagination .next:hover {
    background-color: #ddd;
}

@media only screen and (max-width: 600px) {
    .pagination a {
        float: none;
        display: inline-block;
    }
}


.footer {
    background-color: #004a80;
    color: white;
    text-align: center;
    width: 100vw;
    padding-top: 9vw;
    margin-top: 3vw;
    display: block;



}

#openModalBtn {
    margin-left: 66.6vw;
    border-radius: 0;
}

.containerEst {
    display: inline-table;
    margin-left: 25vw;
    width: 50vw;
    margin-top: 15vw;
}
